
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


body {
    font-family: Futura, sans-serif;
    /* background-color: #F3CCE7; */
    margin: 0;
    padding: 0;
    line-height: 1.6;
    text-decoration: none;
}


h2 {
    text-align: center;
    margin-top: 10px;
    color: #F3CCE7;
}

section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* @media screen and (min-width: 900px) {
        padding: 50px;
      }
      @media screen and (min-width: 1300px) {
        padding: 70px;
      }
      @media screen and (min-width: 1500px) {
        padding: 90px;
      } */
}


.section-abos{
    margin-top: 20px;
}

.section-contact{
    background-color: #056147;
}

.abos-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
    height: 75%;
}

.abos-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.abo {
    background-color: #056147;
    color: white;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.abo:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.abo-image {
    display:block;
    margin: 0 auto;
    max-width: 30px;
    height: auto;
    border-radius: 40%;
}

.contact-form-container {
    background-color: #056147;
    color: white;
    padding:20px;
    border-radius: 15px;
    /* max-width: 1200px; */
    margin: 20px 20px;
    box-sizing: border-box;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    width: 100%;
}

.contact-form-container h1 {
    text-align: center;
    color: #F3CCE7;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input,
textarea {
    margin-top: 5px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

input {
    background-color: #ffffff;
    color: #056147;
}

textarea {
    background-color: #ffffff;
    color: #056147;
}

button {
    margin-top: 20px;
    padding: 15px;
    background-color: #F3CCE7;
    color: #056147;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffffff;
    color: #056147;
}

/* Desktop */
@media (min-width: 1000px) {

    .section-abos{
        margin-top: 0px;
    }    

    .abos-container {
        /* max-width: 1000px; */
        margin: 0 auto;
        display: flex;
        gap: 20px; /* Abstand zwischen den Abos */
        justify-content: space-between; /* Abos glichmässig verteilen */
        flex-wrap: nowrap; /* Kein Umbruch, Abos bleiben in einer Reihe */
        height: 50%;
    }

    .abo {
        flex: 1; /* Gleiche Breite für alle Abos */
        max-width: calc(33.33% - 20px); /* Jede Box nimmt ein Drittel der Breite minus Abstand */
        padding: 20px;
    }

    .abos-row {
        display: flex;
        justify-content: space-between;
        gap: 20px; /* Abstand zwischen den Aboboxen */
        width: 100%;
    }

    .abo-image {
        max-width: 80px;
        margin: 0 auto 15px;
    }

    .contact-form-container {
        max-width: 1000px; /* Gleiche Breite wie Abos */
        margin: 40px auto 0; /* Abstand nach oben und zentriert */
    }
}