/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes heartbeat {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.04);
  }
}


/* h2{
  font-size: 30px;
  @media screen and (min-width: 900px) {
    font-size: 40px;
  }
  @media screen and (min-width: 1300px) {
    font-size: 50px;
  }
} */


section{
  min-height: 100vh;
  padding: 20px;
  @media screen and (min-width: 900px) {
    padding: 50px;
  }
  @media screen and (min-width: 1300px) {
    padding: 70px 90px;
  }
  @media screen and (min-width: 1500px) {
    padding: 90px 120px;
  }
}

.container-max-width-desktop{
  @media screen and (min-width: 750px) {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1400px;
  }
}
  
/* intro Section */
.intro {
  display: flex;
  align-items: center;
  background-color: #F7F3ED;
  position: relative;
  justify-content: center;
}

.intro-text {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-half{
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 992px) {
    width: 50%;
    justify-content: flex-start;
  }
}

.title-home{
  display: inline-block; /* Important for transform animations */
  font-weight: bold;
  text-align: center;
  line-height: 100px;
  font-size: 75px;
  color: #056147; /* Green */
  animation: heartbeat 4s infinite;
  @media screen and (min-width: 750px) {
    font-size: 80px;
  }
  @media screen and (min-width: 924px) {
    font-size: 60px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 80px;
  }
  @media screen and (min-width: 1500px) {
    font-size: 100px;
  }
}   

.cta-button {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 40px;
  background-color: #FC6C20; /* Orange */
  color: white;
  border: none;
  border-radius: 60px;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.4s ease-in-out;
  text-decoration: none;
}

.cta-button:hover {
  transform: scale(1.1);

}


/* Creative Space Section */
.creative-space {
  display: flex;
  background-color: #056147; /* Green */
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  @media screen and (min-width: 750px) {
    flex-direction: row-reverse;
  }
}

.space-image img {
  width: 100%;
  border-radius: 60px;
  margin: 0px 20px;
  @media screen and (min-width: 750px) {
    max-width: 400px;
    margin: 0;
  }
  @media screen and (min-width: 1200px) {
    max-width: 450px;
  }
  @media screen and (min-width: 1400px) {
    max-width: 500px;
  }
}

.creativeSpace-image-mobile{
  display: none;
  @media screen and (max-width: 750px) {
    display: block;
  }
}

.creativeSpace-image-desktop{
  display: none;
  @media screen and (min-width: 750px) {
    display: block;
  }
}

.space-text h2 {
  /* font-size: 28px; */
  margin-bottom: 20px;
}

.space-text p {
  margin-bottom: 15px;
}

/* Steps Section */
.steps {
  background-color: #F3CCE7; /* Pink */
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-steps{
  display: block;
  padding: 20px;
  width: 100%;
}

.steps h2 {
  color: #FC6C20; /* Orange */
  margin-bottom: 20px;
}

.step {
  margin-bottom: 20px;
}

.step h3 {
  color: #FC6C20; /* Orange */
}

.step p {
  margin: 10px 0;
}

